.xxx {
  width: 15%;

}
/* Ajusta la altura del mat-nav-list para que el scroll se vea */
.main-content {
  max-height: 90%; /* Ajusta según lo que necesites */
  overflow-y: auto;

}

/* Personaliza el diseño del scroll */
.main-content::-webkit-scrollbar {
  width: 8px; /* Tamaño del scroll */
}

.main-content::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color del fondo del scroll */
}

.main-content::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del scroll */
  border-radius: 10px; /* Bordes redondeados */
}

.main-content::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color cuando pasas el mouse sobre el scroll */
}
