<mat-toolbar color="primary" class="toolbar">
  <!-- Botón del menú lateral -->
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- Título del dashboard -->
  <span class="toolbar-title">My Dashboard2</span>

  <!-- Espaciador para empujar elementos a la derecha -->
  <span class="spacer"></span>

  <!-- Íconos de notificación -->
  <button mat-icon-button matBadge="{{ unreadMailsBadge }}" matBadgeColor="accent" matBadgePosition="above after"  matTooltip="Emails">
    <mat-icon>mail</mat-icon>
  </button>

  <button mat-icon-button matBadge="{{ unreadNotificationsBadge }}" matBadgeColor="warn" matBadgePosition="above after"  matTooltip="Notificaciones">
    <mat-icon>notifications</mat-icon>
  </button>
  <!-- Botón para pantalla completa -->
  <button mat-icon-button (click)="toggleFullscreen()">
    <mat-icon>fullscreen</mat-icon>
  </button>
  <span>{{ usuario }}</span>
  <!-- Menú desplegable de usuario -->
  <app-user-menu></app-user-menu>
  <!-- <button mat-menu-item (click)="logout()"  class="transparent-button"  matTooltip="Logout">
    <mat-icon>power_settings_new</mat-icon>
  </button> -->
</mat-toolbar>


