<mat-nav-list class="scrollable-nav-list">
  <a mat-list-item routerLink="/dashboard/home">xxx</a>
  <a mat-list-item routerLink="/dashboard/page1">Page 22</a>
  <a mat-list-item routerLink="/dashboard/page2">Page 2</a>
  <!-- Añade los elementos restantes -->
  <a mat-list-item routerLink="/dashboard/home">Home</a>
  <a mat-list-item routerLink="/dashboard/page1">Page 1</a>
  <a mat-list-item routerLink="/dashboard/page2">Page 2</a>

  <a mat-list-item routerLink="/dashboard/home">Home</a>
  <a mat-list-item routerLink="/dashboard/page1">Page 1</a>
  <a mat-list-item routerLink="/dashboard/page2">Page 2</a>

  <a mat-list-item routerLink="/dashboard/home">Home</a>
  <a mat-list-item routerLink="/dashboard/page1">Page 1</a>
  <a mat-list-item routerLink="/dashboard/page2">Page 2</a>

  <a mat-list-item routerLink="/dashboard/home">Home</a>
  <a mat-list-item routerLink="/dashboard/page1">Page 1</a>
  <a mat-list-item routerLink="/dashboard/page2">Page 2</a>

  <a mat-list-item routerLink="/dashboard/home">Home</a>
  <a mat-list-item routerLink="/dashboard/page1">Page 1</a>
  <a mat-list-item routerLink="/dashboard/page2">Page 2</a>

  <a mat-list-item routerLink="/dashboard/home">Home</a>
  <a mat-list-item routerLink="/dashboard/page1">Page 1</a>
  <a mat-list-item routerLink="/dashboard/page2">Page 2</a>

</mat-nav-list>

